@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    background: black;
}

main {
    height: 100vh;
    position: relative;
    background-color: greenyellow;
}

section#telefone {
    position: absolute;
    height: 800px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;
}

section#redes-sociais {
    position: absolute;
    height: 460px;
    width: 250px;
    background-image: linear-gradient(to bottom, red, yellow);
    top: 41.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}

section#redes-sociais > img {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    padding: 9px;
}

iframe {
    position: absolute;
    text-align: center;
    left: 0%;
    top: -0%;
    width: 290px;
    height: 470px;
}

article {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 0px;
    font-size: 4em;
    top: 103%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}

a {
    color: transparent;
}